<% provide(:titulo, "Galeria") %>
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <div class="btn btn-default"><%= link_to "Nuevo", admin_nueva_coleccion_path, id: "logo" %></div>
    <div class="btn btn-default"><%= link_to "Listar", admin_coleccions_path, id: "logo" %></div>
  </div>
</div>
<hr>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>URL</th>
        <th>Estado</th>
        <th>Imagen</th>
      </tr>
    </thead>

    <tbody>
      <% @coleccions.each do |coleccion| %>
        <tr>
          <td><%= link_to "#{coleccion.id}", admin_coleccion_path(coleccion) %></td>
          <td><%= coleccion.descripcion %></td>
          <td><%= coleccion.url %></td>
          <td><%= coleccion.estado %></td>
          <td><%= coleccion.picture %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>