<!--Menu-->
<div class="col-sm-3">   
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><b>Items</b></a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <%= link_to "Areas", admin_areas_path %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= link_to "Diplomados", admin_diplomados_path %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= link_to "Módulos", admin_modulos_path %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= link_to "Cursos", admin_cursos_path %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= link_to "Areas y Diplomados", admin_area_diplomados_path %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= link_to "Eventos", admin_eventos_path %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= link_to "Galeria", admin_coleccions_path %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div><!--/Menu-->