<section id="recent-works">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="recent-work-wrap">
        <%= image_tag "https://e38e9f49392eff047bfa182107ab8f156aef9878.googledrive.com/host/0B3Bz2RFRgSMWQXk4c3h4R0dYZjA/item1.png", class: "img-responsive" %>
        <div class="comentario"><p>Diplomado Habilidades Directivas</p></div>
        <a href="#">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp Mas Información</h3>
            </div> 
          </div>
        </a>
      </div>
    </div>   

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="recent-work-wrap">
        <%= image_tag "https://e38e9f49392eff047bfa182107ab8f156aef9878.googledrive.com/host/0B3Bz2RFRgSMWQXk4c3h4R0dYZjA/item2.png", class: "img-responsive" %>
        <div class="comentario"><p>Curso Derecho Patrimonial de Familia</p></div>
        <a href="#">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp Mas Información</h3>
            </div> 
          </div>
        </a>
      </div>
    </div> 

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="recent-work-wrap">
        <%= image_tag "https://e38e9f49392eff047bfa182107ab8f156aef9878.googledrive.com/host/0B3Bz2RFRgSMWQXk4c3h4R0dYZjA/item3.png", class: "img-responsive" %>
        <div class="comentario"><p>Diplomado en arbitraje</p></div>
        <a href="#">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp Mas Información</h3>
            </div> 
          </div>
        </a>
      </div>
    </div>   

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="recent-work-wrap">
        <%= image_tag "https://e38e9f49392eff047bfa182107ab8f156aef9878.googledrive.com/host/0B3Bz2RFRgSMWQXk4c3h4R0dYZjA/item4.png", class: "img-responsive" %>
        <div class="comentario"><p>CALENDARIO</p></div>
        <a href="#">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp Mas Información</h3>
            </div> 
          </div>
        </a>
      </div>
    </div>   
                
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="recent-work-wrap">
        <%= image_tag "https://e38e9f49392eff047bfa182107ab8f156aef9878.googledrive.com/host/0B3Bz2RFRgSMWQXk4c3h4R0dYZjA/item5.png", class: "img-responsive" %>
        <div class="comentario"><p>Curso Taller en redaccion Juridica</p></div>
        <a href="#">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp Mas Información</h3>
            </div> 
          </div>
        </a>
      </div>
    </div>   

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="recent-work-wrap">
        <%= image_tag "https://e38e9f49392eff047bfa182107ab8f156aef9878.googledrive.com/host/0B3Bz2RFRgSMWQXk4c3h4R0dYZjA/item6.png", class: "img-responsive" %>
        <div class="comentario"><p>Diplomado en Finanzas</p></div>
        <a href="#">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp Mas Información</h3>
            </div> 
          </div>
        </a>
      </div>
    </div> 

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="recent-work-wrap">
        <%= image_tag "https://e38e9f49392eff047bfa182107ab8f156aef9878.googledrive.com/host/0B3Bz2RFRgSMWQXk4c3h4R0dYZjA/item7.png", class: "img-responsive" %>
        <div class="comentario"><p>Diplomado en Contrataciones</p></div>
        <a href="#">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp Mas Información</h3>
            </div> 
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="recent-work-wrap">
        <%= image_tag "https://e38e9f49392eff047bfa182107ab8f156aef9878.googledrive.com/host/0B3Bz2RFRgSMWQXk4c3h4R0dYZjA/item8.png", class: "img-responsive" %>
        <div class="comentario"><p>Plataforma Virtual EDMODO</p></div>
        <a href="#">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp Mas Información</h3>
            </div> 
          </div>
        </a>
      </div>
    </div>  
  </div>
</section>