<!DOCTYPE html>
<html>
<head>
  <title>NexusProTraining</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <!-- Header -->
  <div class="container">
    <div id="top-nav" class="navbar navbar-default navbar-static-top">
      <div class="navbar-header">
        <div class="navbar-brand">
          <%= link_to "Administración NexusProTraining", admin_root_path, id: "logo" %>
        </div>
      </div>
      <ul class="nav pull-right navbar-nav">
        <li>
          <a href="#"></a>
        </li>
      </ul>
    </div>
    <hr>
  </div>
  <!-- /Header -->
    
  <div class="container">
    <div class="row">
      <%= render 'admin/admin_paginas/menu' %>
      <!--Contenido-->
      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <b><%= yield(:titulo) %></b>
            </h4>
          </div>
          <div class="panel-body">
            <%= yield %>
          </div>
        </div>
      </div>
      <!--/Contenido-->
    </div>
  </div>
</body>
</html>
